<nav id="sidebar">
  <div class="sidebar-header">
    <h3>OPUS</h3>
  </div>

  <ul class="list-unstyled components">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/verifyaccount" routerLinkActive="active">Verify Account</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/verifyimage" routerLinkActive="active">Verify Image</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/currentartists" routerLinkActive="active">View Current Artists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/addcategory" routerLinkActive="active">Add New Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/addsubcategory" routerLinkActive="active">Add New Subcategory</a>
      </li>
  </ul>
</nav>
