<div class="container" >
  <div class="row">
      <div class="col-md-3 col-sm-6" *ngFor ="let prod of products">
          <div class="product-page-single">
          <div class="single-product-item">
              <div class="product-image-wrap">
    
                  <a href="#"> <img src="{{prod.image}}" alt="Product image" style="width:252px;height: 250px;"> </a>
    
                  <div class="product-detail-inner">
    
                      <div class="item-details-overly-info">
                          <ul class="list-inline list-unstyled">
                              <li class="item-add-to-cart"><a href="#" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a></li>
                              <li class="item-wishlist"><a href="#" title="Wish list"><i class="fa fa-heart-o"></i></a></li>
                             <!--  <li class="item-like"><a href="#" title="Like"><i class="fa fa-thumbs-o-up"></i></a></li> -->
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="product-item-details">
                  <h2>{{prod.Name}} <a href="sankar.html"><br>{{prod.user.fullName}}</a></h2>
                  <div class="price-like-box">
                      <div class="pull-left item-price">
                         <!--  <span class="old-price"><del>$50.00</del></span> -->
                          <span class="current-price">{{prod.price}}</span>
                      </div>
                      <div class="pull-right item-rating">
                          <ul class="list-inline">
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star-o"></i></li>
                              <li><i class="fa fa-star-o"></i></li>
                              <li><i class="fa fa-star-o"></i></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
  </div>
  
</div>
<app-footer></app-footer>