<div class="container" style="width:100%">

  <div class="headline"  style="width:100%" >
    <h2>Opus  <b> Check Out </b></h2>
    <p> Check out to get<br> the prodcut at your doorstep </p>
  </div>
                 
 <div id="modal-3" class="modal" data-modal-effect="slide-top">
  <div class="modal-content">
    <h2 class="fs-title">User Information</h2>
    <h3 class="fs-subtitle">Known our user is crucial</h3>
    <p>Art is all about knowning who loves them and who make them.Having your information will help us to reach for arts feedback and suggestion and as well as helps us in faster and reliable shipping at your door.</p>
    <input type="button" name="next" class="next action-button modal-close" value="Got it!">
  </div>
 </div>
</div>

<div class="tabs" style="margin-left:30%">
  <input type="radio" name="tabs" id="tabone" checked="checked">
  <label for="tabone">User Information</label>
  <div class="tab">
       
    <div class="form">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
     <div class="form-group">
      <label for="firstname-99a6d115-5e68-4355-a7d0-529207feb0b3_2983">
        Existing User?
      </label>
      <button type="submit" name="button">Click Here</button>
      
    </div>

    <p>-------------------------------------OR--------------------------------------------</p>
        <div class="form-group">
          <label for="firstname-99a6d115-5e68-4355-a7d0-529207feb0b3_2983"> Full Name:
            <input type="text" name="fullName" class="form-control" value="" formControlName="fullName" placeholder="Full Name:">
          </label>
        </div>
       
  
        <div class="form-group"> 
          <label for="email-99a6d115-5e68-4355-a7d0-529207feb0b3_2983">Email:
            <input type="email" name="email" value="" class="form-control" formControlName="email" placeholder="Email">
          </label>
        </div>
        
    <div class="form-group">
          <label for="edit-submitted-constituent-base-total-constituents total_number_of_constituents_in_your_database-99a6d115-5e68-4355-a7d0-529207feb0b3_6344" style="height: 90px">Phone Number:
            <input type="number" name="phoneNumber" value="" class="form-control" formControlName="Phone" placeholder="Phone Number" style="height: auto">
          </label>
        </div>
    
    <div class="form-group">
          <label for="firstname-99a6d115-5e68-4355-a7d0-529207feb0b3_2983">Country:
            <input type="text" name="Country" class="form-control" value="" formControlName="Country" placeholder="Country">
          </label>
        </div>
    
    <div class="form-group">
          <label for="email-99a6d115-5e68-4355-a7d0-529207feb0b3_2983">Street Address:
            <input type="text" name="streetaddress" class="form-control" value="" formControlName="streetaddress" placeholder="Street Address">
          </label>
        </div>
  
  <div class="form-group">
          <label for="firstname-99a6d115-5e68-4355-a7d0-529207feb0b3_2983">State/ Provience:
            <input type="text" name="state" class="form-control" value="" formControlName="state" placeholder="State / Zone *">
          </label>
        </div>
    
     <div class="form-group">
          <label for="firstname-99a6d115-5e68-4355-a7d0-529207feb0b3_2983">Shipping Address:
            <input type="text" name="Shipping Address" class="form-control" value="" formControlName="Shipping Address" placeholder="Shipping Address">
          </label>
        </div>
       
     

        

        
  
       
        <button type="submit" name="button">Next</button>
        
      </form>
  
    </div>
   </div>
  
  <input type="radio" name="tabs" id="tabtwo">
  <label for="tabtwo">Billing Methods</label>
  <div class="tab">
      <div class="form">
    <p>
      Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin.
    </p>
    <p>
      Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon brisket beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye landjaeger beef kevin tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round ham ham hock brisket shoulder. Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef ribs pancetta turkey.
    </p></div> </div>
  
  <input type="radio" name="tabs" id="tabthree">
  <label for="tabthree">Billing recheck</label>
  <div class="tab">
      <div class="form">
    <p>
      Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin.
    </p>
    
  </div>
  </div>
</div>