<div class="container" style="width:100%">

  <div class="headline"  style="width:100%" >
    <h2>Opus  <b> Check Out </b></h2>
    <p> Check out to get<br> the prodcut at your doorstep </p>
  </div>
                 
</div>
<div class="tabs"  [formGroup] = "PaymentForm">
  <input type="radio" name="tabs" id="tabone" checked="checked">
  <label for="tabone">User Information</label>
  <div class="tab">
       
    <div class="form">
     <div class="form-group">
      <!-- <label for="existingUser">
        Existing User?
      </label>
      <button type="submit" name="button">Click Here</button> -->
      
    </div>

    <!-- <p>-------------------------------------OR--------------------------------------------</p> -->
        <div class="form-group">

          <label for="address_line_1"><div class="row"><div class="col-md-2"> Address Line 1:</div>
            <div class="col-md-9">
            <input type="text" name="address_line_1" class="form-control" value="" formControlName="address_line_1" placeholder="Address Line 1"></div></div>
          </label>
        </div>
       
  
        <div class="form-group"> 
          <label for="address_line_2"><div class="row"><div class="col-md-2">Address Line 2:</div>
            <div class="col-md-9">
            <input type="text" name="address_line_2" value="" class="form-control" formControlName="address_line_2" placeholder="Address Line 2"></div></div>
          </label>
        </div>
        
    
    <div class="form-group">
          <label for="country"><div class="row"><div class="col-md-2">Country:</div>
            <div class="col-md-9">
            <input type="text" name="Country" class="form-control" value="" formControlName="country" placeholder="Country"></div></div>
          </label>
        </div>

    <div class="form-group">
          <label for="city"><div class="row"><div class="col-md-2">City:</div>
            <div class="col-md-9">
            <input type="text" name="city" class="form-control" value="" formControlName="city" placeholder="City"></div></div>
          </label>
     </div>
    
    <div class="form-group">
          <label for="altAddress"><div class="row"><div class="col-md-2">Alternative Address:</div>
            <div class="col-md-9">
            <input type="text" name="alt_address" class="form-control" value="" formControlName="alt_address" placeholder="Alternative Address"></div></div>
          </label>
    </div>
  
  <div class="form-group">
          <label for="state"><div class="row"><div class="col-md-2">State/ Provience:</div>
            <div clas="col-md-9">
            <input type="text" name="state" class="form-control" value="" formControlName="province" placeholder="State / Zone *" style="margin-left: 17px;"></div></div>
          </label>
        </div>

        <div class="form-group">
            <label for="city"><div class="row"><div class="col-md-2">Postal Code:</div>
              <div class="col-md-9">
              <input type="text" name="postal_code" class="form-control" value="" formControlName="postal_code" placeholder="Postal Code"></div></div>
            </label>
       </div>


        <div class="form-group">
            <label for="phoneNumber" style="height: 90px"><div class="row"><div class="col-md-2">Phone Number:</div>
              <div class="col-md-9">
              <input type="number" name="phoneNumber" value="" class="form-control" formControlName="alt_phone" placeholder="Phone Number" style="height: auto"></div></div>
            </label>
          </div>
       
    <button class = "next" type="submit" name="button">Next</button>
  
    </div>
   </div>
  
  <input type="radio" name="tabs" id="tabtwo">
  <label for="tabtwo">Billing Methods</label>
  <div class="tab">
    <div class="form">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="banner">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><input type="radio" name="choice">
                 Cash on <Strong>Delivery</Strong>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                
                Simply,Pay with cash upon delivery.
              </div>
            </div>
          </div>
    <button  class="previous" value="Previous" style="margin:2%; width:37%;">Previous</button>
    <button class = "next" type="submit" name="button"  style="margin:2%; width:37%">Next</button>
  </div>
</div>
  <input type="radio" name="tabs" id="tabthree">
  <label for="tabthree">Billing recheck</label>
  
  <div class="tab">
    <div class="form form2">

        <div class="banner">Billing<strong> Review</strong></div>
           
        <!-- </section> -->
            <div class="row" style="margin:0%"  *ngIf="products.length > 0"> 
                 <div class="row" style="margin-left:5%">
                     <h3>  {{products.length}} items in your cart</h3>
                 </div>
                    <div class="table-responsive">
        
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Arts </th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Available</th>
                                    <th scope="col" style="width:10%">Quantity</th>
                                    <th scope="col" class="text-right">Price</th>
                                   
                                </tr>
                            </thead>
                            <tbody >
                                  <tr *ngFor="let prod of products">
                                    <td><img src="{{prod.image}}" style="width: 25%"> </td>
                                    <td>{{prod.Name}}</td>
                                    
                                    <td> {{prod.availability}}</td>
                                    <td><input id = "{{prod.id}}" type = "number" min = "1" [value] = "prod.quantity" (input) = "quantityChange($event)"></td>
                                    <!-- <td><input class="form-control" type="text" value="1" ></td> -->
                                    <td class="text-right">{{prod.price * prod.quantity}}</td>
                                    <td class="text-right"><button id = "{{prod.id}}" class="btn btn-sm btn-danger"   (click)= "removeFromCart($event)">
                                        <i  id = "{{prod.id}}" class="fa fa-trash"></i> 
                                    </button> </td>
                                </tr>
                              
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <!-- <td></td>  -->
                                    <th >Sub-Total</th>
                                    <td class="text-right">Rs.{{subTotal}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <!-- <td></td> -->
                                    <th>Shipping</th>
                                    <td class="text-right">Rs.{{shipping}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <!-- <td></td> -->
                                    <td><strong>Total</strong></td>
                                    <td class="text-right"><strong>Rs.{{subTotal + shipping}}</strong></td>
                                </tr>
                                
                            </tbody>
        
                        </table>
                    
                    </div>
                                  
    
    
    
    </div>
    <br>
    <button  class="previous" value="Previous"  style="margin:2%; width:37%;">Previous</button>
    <button type="submit" (click)="onSubmit()" name="button" [hidden] = "products.length < 0" style="margin:2%; width:37%;" [disabled]="!PaymentForm.valid">Place Order</button>
    <button type="submit" (click)="onSubmit()" name="button" [hidden] = "products.length > 0" style="margin:2%; width:37%;">Return</button>
    
    </div>
   
  </div>
</div>
