<div class="container helper">
  <div class="row" *ngIf="customArts && customArts.length > 0;else nopendingart">
    <div class="card card--big" *ngFor="let deliveredArt of customArts">
      <img class="card__image" [src]="deliveredArt.Image" alt="custom_art_image">

      <h2 class="card__title">Framing: {{ deliveredArt.Framing }}</h2>
      <div class="card__text">
        <a>Preferred Artist: {{ deliveredArt.artist?deliveredArt.artist.fullName:"N/A" }}</a>
        <button type="button" class="card__button" data-toggle="modal" [attr.data-target]="'#desc2' + deliveredArt.id" style="cursor: pointer">
            <strong style="color:#3a539b">View description</strong>
          </button>
          <div class="modal fade" id="desc2{{deliveredArt.id}}">
              <div class="modal-dialog">
                <div class="modal-content" style="padding:10%">
                  <p>{{ deliveredArt.description }}</p>
                </div>
              </div>
            </div><br>
        
          <a>Delivery Status: {{deliveredArt.isDelivered?"Yes":"In Process"}}</a><br>
      <address class="card_text"> <b>Address: </b><br>
        {{ deliveredArt.default_address.address_line_1}}, {{ deliveredArt.default_address.address_line_2}} <br>
        {{ deliveredArt.default_address.postal_code }}, {{ deliveredArt.default_address.province }} <br>
        {{ deliveredArt.default_address.city }}, {{ deliveredArt.default_address.country }} <br>      </address>
      
 
    </div>
  </div>


</div>
<ng-template #nopendingart>
  <h2 style="text-align:center;margin-top: 20%">No pending Custom Art remaining!</h2>
  <p><a routerLink="/customizedarthelp" style="text-align:center;margin-left: 22%">Click here to know how it works.</a>.</p>
</ng-template>