<div class="container">
    <div class="row">
      <div class="card col-md-4" style="width:400px;" *ngFor="let product of products">
        <img class="card-img-top" [src]="product.image" width="300" height="300" alt="product image">
        <div class="card-body">
          <h4 class="card-title">Name: {{ product.Name }}</h4>
          <p class="card-text">Availability: {{ product.availability }}</p>
  
          <div>
            <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#' + product.id">
              View More
            </button>
  
            <div class="modal fade" id="{{product.id}}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <p>bla bla bla</p>
                </div>
              </div>
            </div>
          </div>
  
            <div>
              <button (click)="verifyProduct(product.id)" class="btn btn-success">Verify</button>
              <button (click)="setRejectIds(product.id, product.user.id); open(content);" class="btn btn-danger">Reject</button>
            </div>
        </div>
      </div>     
    </div>



    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Comment:</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <textarea class="form-control" rows="5" id="comment" #comment></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" [disabled]= "comment.value.length == 0" (click)="modal.close('Save click'); rejectProduct(comment.value);">Send</button>
      </div>
    </ng-template>
    
  