<div class="container helper">
    <div class="row" style="margin-top: 70px">
      <div class="card card--big" *ngFor="let product of products" >
        <img class="card__image" [src]="product.image" alt="product image">
         
          <h2 class="card__title">Name: {{ product.Name }}</h2>
          <p class="card__text">Availability: {{ product.availability }}</p>
  
          <div class="card__action-bar">
            <button type="button" class="card__button" data-toggle="modal" [attr.data-target]="'#' + product.id">
                <strong style="color:#3a539b">View More</strong>
            </button>
            
            <div class="modal fade" id="{{product.id}}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <p>bla bla bla</p>
                  </div>
                </div>
              </div>
            <button (click)="verifyProduct(product.id)" class="card__button"><Strong style="color:dimgrey">Verify</Strong></button>
              <button (click)="rejectProduct(product.id)" class="card__button"><Strong style="color:#d91e18">Reject</Strong></button>
            </div>
            
          
  
           
       
      </div>
    
      
    </div>
  