<div class="container helper">
    <div class="row" style="margin-top: 70px">
      <div class="card card--big" *ngFor="let product of products" >
        <img class="card__image" [src]="product.image" alt="product image">
         
          <h2 class="card__title">Name: {{ product.Name }}</h2>
          <p class="card__text">Availability: {{ product.availability }}</p>
  
          <div class="card__action-bar">
            <button type="button" class="card__button" data-toggle="modal" [attr.data-target]="'#' + product.id">
                <strong style="color:#3a539b">View More</strong>
            </button>
            
            <div class="modal fade" id="{{product.id}}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <p>bla bla bla</p>
                  </div>
                </div>
              </div>
            <button (click)="verifyProduct(product.id)" class="card__button"><Strong style="color:dimgrey">Verify</Strong></button>
              <button (click)="rejectProduct(product.id)" class="card__button"><Strong style="color:#d91e18">Reject</Strong></button>
            </div>
          </div>
  
            <div>
              <button (click)="verifyProduct(product.id)" class="btn btn-success">Verify</button>
              <button (click)="setRejectIds(product.id, product.user.id); open(content);" class="btn btn-danger">Reject</button>
            </div>
        </div>
      </div>     


   <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Comment:</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <textarea class="form-control" rows="5" id="comment" #comment></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" [disabled]= "comment.value.length == 0" (click)="modal.close('Save click'); rejectProduct(comment.value);">Send</button>
      </div>
    </ng-template>
    
  