<div class="fixed-menu">
</div>
<div class="login-page" >
    <div class="banner">Log<strong>IN</strong></div>
  <div class="form">
  <form class="login-form" [formGroup] = "signinForm" (ngSubmit)="onSubmit()">
   
    
      <input type="email" name="email" class="form-control" value="" formControlName="email" placeholder="Email"/>
 


    
      <input type="password" name="password" value=""  class="form-control" formControlName="password" placeholder="Password"/>


    
     
<button type="submit" name="button">login</button>
  </form>
</div>
</div>
