<div class="login-page">
  <div class="banner">Log<strong>IN</strong></div>
  <div class="form">
    <form class="" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">
          <input type="email" name="email" class="form-control" value="" formControlName="email" (keyup)="showError = false" placeholder="Email">
        </label>
      </div>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        Email is required
      </div>

      <div class="form-group">
        <label for="password">
          <input type="password" name="password" value="" class="form-control" placeholder="Password" formControlName="password"
            (keyup)="showError = false" placeholder="Password">
        </label>
      </div>

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        Password is required
      </div>
      <span class="psw">Forgot <a routerLink="/forgetpassword">password?</a></span>

      <div *ngIf="showError" class="alert alert-danger">
        {{ showMessage }}
      </div>

      <button type="submit" name="button">Login</button>
    </form>
  </div>
</div>
