<div class="login-page">
  <div class="banner">Change<strong> Password</strong></div>
    <div class="form">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="oldPassword">
              <input type="password" name="oldPassword" class="form-control" value="" formControlName="oldPassword" placeholder="Old Password">
            </label>
          </div>
          <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="alert alert-danger">
            Old Password is required
          </div>
    
          <div class="form-group">
            <label for="newPassword">
              <input type="password" name="newPassword" class="form-control" value="" formControlName="newPassword" placeholder="New Password">
            </label>
          </div>
          <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert alert-danger">
            New Password is required
          </div>
    
          <div class="form-group">
            <label for="newPasswordAgain">
              <input type="password" name="newPasswordAgain" value="" class="form-control" formControlName="newPasswordAgain" placeholder="Confirm new Password">
            </label>
          </div>
          <div *ngIf="newPasswordAgain.invalid && (newPasswordAgain.dirty || newPasswordAgain.touched)" class="alert alert-danger">
            New Password is required
          </div>

          <div *ngIf="showError" class="alert alert-danger">
            {{ showMessage }}
          </div>
          <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" name="button" [disabled]="!changePasswordForm.valid">Reset Password</button>
          
        </form>
    
      </div>
    
</div>

