<div class="login-page">
    
    <div class="banner">Upload<strong> Product</strong></div>
       <div class="form">
           <form [formGroup]="ProductUploadForm" (ngSubmit)="onSubmit()">
             <div class="form-group">
                 <label for="name"class=" form-control-label"></label>
                  <input type="text" name="name" class="form-control" value="" formControlName="name" placeholder="Product Name">
             </div>
             <div class="form-group">
                 <label for="orientation"class=" form-control-label"></label>
                 <input type="text" name="orientation" class="form-control" value="" formControlName="orientation" placeholder="Orientation">
             </div>
             <div class="form-group">
                 <label for="builOn"class=" form-control-label">Build On:</label>
                <input type="text" name="buildOn" class="form-control" value="" formControlName="buildOn" >
             </div>
             <div class="form-group">
                 <label for="price"class=" form-control-label"></label>
                 <input type="number" name="price" class="form-control" value="" formControlName="price" placeholder="Price">
             </div>
             <div class="form-group">
                 <label for="availability"class=" form-control-label"></label>
                 <input type="text" name="availability" class="form-control" value="" formControlName="availability" placeholder="Availability">
             </div>
             <div class="form-group">
              <label for="size"class=" form-control-label"></label>
              <input type="text" name="size" class="form-control" value="" formControlName="size" placeholder="Size e.g. 17'*17' in">
          </div>
          <div class="form-group">
            <label for="description"class=" form-control-label"></label>
            <input type="text" name="description" class="form-control" value="" formControlName="description" placeholder="description">
        </div>
        <div class="form-group">
          <label for="medium"class=" form-control-label"></label>
          <input type="text" name="medium" class="form-control" value="" formControlName="medium" placeholder="Medium eg pencil,brush etc">
      </div>
          <div class="form-group">
            <label for="weight"class=" form-control-label"></label>
            <input type="text" name="weight" class="form-control" value="" formControlName="weight" placeholder="Weight approx in gram">
        </div>
             <div class="form-group">
               <label for="Category">Category:
                 <select class="form-control" formControlName="Category" [(ngModel)]="selectedCategory"(change)="selectCategory($event)" style="height:50px">
                   
                   <option [ngValue]="undefined" disabled> Select </option>
                   <option [value]="category.id" *ngFor="let category of Categories">  
                         {{category.Category}}
                  
                 </select>
               </label>
             <div class="form-group">
                 <label for="SubCategory">Sub-Category:
                 <select class="form-control" formControlName="SubCategory" [(ngModel)]="selectedSubCategory"(change)="selectSubCategory($event)" style="height:50px">
                   
                   <option [ngValue]="undefined" disabled> Select </option>
                   <option [value]="subcategory.id" *ngFor="let subcategory of SubCategories">  
                         {{subcategory.subCategory}}
                  
                 </select>
               </label>
             </div>
             <div class="form-group">
               <label for="product" class=" form-control-label">Product:</label>
               <input type="file" accept="image/*" (change)="onProductSelect($event)" name="product" value="" class="form-control-file" formControlName="product">
               
             </div>
               
             </div>
             <button type="submit"  name="button" [disabled]="!ProductUploadForm.valid">Upload</button>
             
           </form>
       
         </div>
         
  
   
   </div>
   