<div class="container">
  <div class="row" >

  <div class="card card--big" *ngFor="let artist of verifiedArtists">
      <img class="card__image" [src]="artist.profile.profilepic"  alt="profile picture">
  
        <h2 class="card__title">{{ artist.fullName }}</h2>
        <p class="card__text"> <a>Email: {{ artist.email }}</a><br>
            <a>Expert: {{ artist.profile.expert }}</a><br>
            <a>Role: {{ artist.profile.role }}</a><br>
            <a>Phone Number: {{ artist.phone }}</a><br></p>

     

    </div>

  </div>
</div>