<div class="login-content">
<div class="login-page" >
  <div class="banner">Add<strong> Category</strong></div>
  <div class="form">
    <label for="category">
    <input type="text" class="form-control" id="category" placeholder="Add Category" #category>
  </label>
  <button type="submit" name="button" (click)="addCategory(category.value)"> ADD </button>
  </div>

  
</div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Success!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Category added successfully.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"   (click)="modal.close('Save click'); ">OK</button>
  </div>
</ng-template>