<style>
.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
</style>
<div class="container">
  <div class="row">

     


    <div class="jubmbotron">
      <div class="headline">
        <h2>
          Get Arts the way you have imagined <br> <br>
          <a routerLink="/customizedarthelp"><button class="btn btn-primary"> How does customized art works? </button></a>
        </h2>
      </div>
    </div>

  </div>
  <hr>


  <div class="login-page">
    
    <div class="form">
      <form [formGroup]="customArtForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="description"> <strong>Description </strong>
            <input type="text" name="description" class="form-control" value="" formControlName="description"
              placeholder="Describe your art...">
          </label>
        </div>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
          description is required
        </div>

        <div class="form-group">
          <label for="image"> <strong>Upload reference Art</strong>
            <input type="file" name="image" accept="image/*" value="" class="form-control form-control-file" formControlName="image" (change)="onProductSelect($event)"
              placeholder="Select reference art">
          </label><br>
          <span>Upload sample as referece for Artist</span>
        </div>

        <div class="form-group">
          <label for="preferredArtistName"> <strong> Select your preferred artist if any</strong>
            <input type="text" name="preferredArtistName" value="" class="form-control" formControlName="preferredArtistName"
               [ngbTypeahead]="search">
          </label><br>
          <span>Send us your prefered artist name</span>
        </div>

        <div class="form-group">
          <label for="framing"><strong>Framing</strong>
            <select class="form-control" formControlName="framing" style="height:50px">
              <option value="No framing" [selected]="true">No framing</option>
              <option value="Hardwood">Hardwood</option>
              <option value="Welded steel">Welded steel</option>
              <option value="Hand-carved">Hand-carved</option>
              <option value="Gold and Silver leaf gilt">Gold and Silver leaf gilt</option>
            </select>
          </label><br>
          <span>We can frame it,Choose any framing option or just ship it rolled in a tube.</span>
        </div>

        <div class="form-group">
          <label for="address_line_1"> <strong> Address Line 1</strong>
            <input type="text" name="address_line_1" value="" class="form-control" formControlName="address_line_1"
              placeholder="">
          </label><br>
        </div>


        <div class="form-group">
          <label for="address_line_2"> <strong> Address Line 2</strong>
            <input type="text" name="address_line_2" value="" class="form-control" formControlName="address_line_2"
              placeholder="">
          </label><br>
        </div>

        <div class="form-group">
          <label for="country"> <strong> Country</strong>
            <input type="text" name="country" value="" class="form-control" formControlName="country" placeholder="">
          </label><br>
        </div>

        <div class="form-group">
          <label for="city"> <strong> City</strong>
            <input type="text" name="city" value="" class="form-control" formControlName="city" placeholder="">
          </label><br>
        </div>

        <div class="form-group">
          <label for="province"> <strong> Province</strong>
            <input type="text" name="province" value="" class="form-control" formControlName="province" placeholder="">
          </label><br>
        </div>

        <div class="form-group">
          <label for="postal_code"> <strong> Postal code</strong>
            <input type="number" name="postal_code" value="" class="form-control" formControlName="postal_code"
              placeholder="">
          </label><br>
        </div>

        <div class="form-group">
          <label for="alt_phone"> <strong> Alt Phone</strong>
            <input type="number" name="alt_phone" value="" class="form-control" formControlName="alt_phone" placeholder="">
          </label><br>
        </div>


        <div class="form-group">
          <label for="alt_address"> <strong> Alt address</strong>
            <input type="text" name="alt_address" value="" class="form-control" formControlName="alt_address"
              placeholder="">
          </label><br>
        </div>


        <!-- <div class="form-group">
          <label for="deliveryDeadline"><strong>Delivery Deadline</strong>
            <select class="form-control" formControlName="deliveryDeadline" style="height:50px">
              <option value="no" [selected]="true">No</option>
              <option value="yes">Yes</option>
            </select>
          </label><br>
          <span>Do you need to receive your painting by a specific date?</span>
        </div>

        <div class="form-group" *ngIf="showSelectDate">
          <label for="deliveryDeadlineDate">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="deliveryDeadlineDate" formControlName="deliveryDeadlineDate"
                ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </label>
          <br>
          <span>**A delivery deadline may reduce the pool of interested artists. For maximum quality, select the latest
            possible date.**</span>
        </div> -->

        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" name="button" [disabled]="!customArtForm.valid">Submit
          request</button>

      </form>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <section>
          <div class="wizard">
              <div class="wizard-inner">
                  <div class="connecting-line"></div>
                  <ul class="nav nav-tabs" role="tablist">
  
                      <li role="presentation" class="active">
                          <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                              <span class="round-tab">
                                  <i class="glyphicon glyphicon-folder-open"></i>
                              </span>
                          </a>
                      </li>
  
                      <li role="presentation" class="disabled">
                          <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                              <span class="round-tab">
                                  <i class="glyphicon glyphicon-pencil"></i>
                              </span>
                          </a>
                      </li>
                      <li role="presentation" class="disabled">
                          <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                              <span class="round-tab">
                                  <i class="glyphicon glyphicon-picture"></i>
                              </span>
                          </a>
                      </li>
  
                      <li role="presentation" class="disabled">
                          <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                              <span class="round-tab">
                                  <i class="glyphicon glyphicon-ok"></i>
                              </span>
                          </a>
                      </li>
                  </ul>
              </div>
  
              <form role="form">
                  <div class="tab-content">
                      <div class="tab-pane active" role="tabpanel" id="step1">
                          <h3>Step 1</h3>
                          <p>This is step 1</p>
                          <ul class="list-inline pull-right">
                              <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                          </ul>
                      </div>
                      <div class="tab-pane" role="tabpanel" id="step2">
                          <h3>Step 2</h3>
                          <p>This is step 2</p>
                          <ul class="list-inline pull-right">
                              <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                              <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                          </ul>
                      </div>
                      <div class="tab-pane" role="tabpanel" id="step3">
                          <h3>Step 3</h3>
                          <p>This is step 3</p>
                          <ul class="list-inline pull-right">
                              <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                              <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                              <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
                          </ul>
                      </div>
                      <div class="tab-pane" role="tabpanel" id="complete">
                          <h3>Complete</h3>
                          <p>You have successfully completed all steps.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              </form>
          </div>
      </section>
     </div>
  </div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Success!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Your request is being processed!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"   (click)="modal.close('Save click'); ">OK</button>
  </div>
</ng-template>