<div class="login-content">
    <div class="fixed-menu">
  
    </div>
      
  
    
     <div class="login-page" >
      <div class="banner">Sign<strong> Up</strong></div>
    <div class="form">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
           
              <label for="fullName">
                <input type="text" name="fullName" class="form-control" value="" formControlName="fullName" placeholder="Full Name">
              </label>
       
      
  
              <label for="email">
                <input type="email" name="email" value="" class="form-control" formControlName="email" placeholder="Email">
              </label>
            
      
        
              <label class="form-label" for="password">
                <input type="password" name="password" value="" class="form-control" formControlName="password" placeholder="Password">
              </label>
       
  
       
              <label for="phoneNumber">
                <input type="text" name="phoneNumber" value="" class="form-control" formControlName="Phone" placeholder="Phone Number">
              </label>
            
      
            <label for="userType" class="form-label" style="text-align: left">User Type:
          <select class="form-select" formControlName="userType">
            <option value="Artist">Artist</option>
            <option value="Customer" [selected]="true">Customer</option>
          </select>
        </label>
            <button type="submit" name="button" [disabled]="!signupForm.valid">Sign Up</button>
            
          </form>
      
        </div>
      
  
   
  
  </div>
  </div>
  