
 <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <input type="search" id="search" [(ngModel)]="searchText" value="" class="form-control" placeholder="Search for Artist" style="  margin-left: 600px;margin-top:10px        ">
    </div>
</div>
<div class="container">
  <div class="row">
  

  <div class="card card--big" *ngFor="let artist of verifiedArtists | grdFilter: {fullName: searchText, Phone:searchText,  email: searchText}; let i=index;">
      <img class="card__image" [src]="artist.profile.profilepic"  alt="profile picture">
  
        <h2 class="card__title"><a id="{{artist.id}}" (click)="viewProfile($event)" >{{artist.fullName}}</a></h2>
        <p class="card__text"> <a>Email: {{ artist.email }}</a><br>
            <a>Expert: {{ artist.profile.expert }}</a><br>
            <a>Role: {{ artist.profile.role }}</a><br>
            <a>Phone Number: {{ artist.Phone }}</a><br><br>
          </p>
    </div>

  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ message }}!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close('Save click'); ">OK</button>
  </div>
</ng-template>
