<div class="fixed-menu">
</div>
<div class="profile-page">
    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img title="profile image" class="img-circle img-responsive" src="./assets/images/thumb/kiran.png">
            </a>

        </div>
        <div class="col-sm-10">
                  <div class="headline">
                         <h2> <b> Kiran </b>Maharjan </h2>
                  </div>

        </div>

    </div>

<div class="row">
     <div class="col-md-3">
            <!--left col-->
            <ul class="list-group">

                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Profile</strong></div>
                    
                    <li class="list-group-item text-right"><span class="pull-left"><strong class=""> Street Name </strong></span>H11235 </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Expert</strong></span>Mural</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Role: </strong></span> Street Artist</li>
                </div>
            </ul>



            <div class="panel panel-default">

                <div class="panel-heading"><strong>Bio</strong></div>
                <div class="panel-body"> Kiran Maharjan is a street artist whose works depict images painted realistically with spray, paint which have elements of calligraphy. His work revolves around the dual nature of man and of the artist himself. Maharjan completed his BFA degree from Kathmandu University centre for Art and Design in 2014. He has exhibited his work in galleries like Siddhartha Art Gallery, Nepal Art Council and in various other alternative venues like Alliance Francaise de Katmandou and Tings Tea Lounge. He is currently involved in the street art project called Prasad and also conducts various street art workshops in and around the capital. His work can be seen nationally in the streets of Kupondole, Thamel, Pokhara, Birgunj, and Internationally in Denmark and Finland.

                </div> <!-- panel body close -->
            </div> <!-- panel bio  default above close -->
            <br>



            <div class="panel panel-default">
                <div class="panel-heading"><strong>Social Media</strong></div>
                <div class="panel-body "> 
                        <div>  <a href="www.facebook.com"><i class="fa fa-facebook fa-2x"></i>  
                                </a>
                   
                                <a href="https://maharjankiran.wordpress.com"><i class="fa fa-wordpress fa-2x"></i></a>

                                <a href="www.twitter.com"> <i class="fa fa-twitter fa-2x"></i></a>
                                
                                <a href="www.googleplus.com"><i class="fa fa-google-plus fa-2x"></i></a>
                        </div>

                </div>
            
            </div> <!-- <third social media panal close -->
        </div> <!-- <row side close -->
        <div class="col-md-6" contenteditable="false">
           
            <div class="panel panel-default target">

                <div class="panel-heading" contenteditable="false"><strong>More Arts</strong>
                </div>

                <div class="panel-body">
                  <div class="row">
                
                        <div class="col-md-6">
                                    <div class="product-page-single">
                                        <div class="single-product-item">
                                            <div class="product-image-wrap">
                                                <a href="#"><img src=".assets/images/thumb/Kiran-3_800x604.jpg" alt="Product image"></a>
                                                <div class="product-detail-inner">
                                                    <div class="item-details-overly-info">
                                                        <ul class="list-inline list-unstyled">
                                                            <li class="item-add-to-cart"><a href="#" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                            <li class="item-wishlist"><a href="#" title="Wish list"><i class="fa fa-heart-o"></i></a></li>
                                                          
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-item-details">
                                                <h2><a href="#">Beginning</a><br>Kiran </h2>
                                                 
                                                <div class="price-like-box">
                                                    <div class="pull-left item-price">
                                                        <span class="current-price">Rs.1,50,000.00</span>
                                                    </div>
                                                    <div class="pull-right item-rating">
                                                        <ul class="list-inline">
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                             <li><i class="fa fa-star"></i></li>
                                                            
                                                            <li><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   </div>
                        </div>     <!-- first col close -->
        

                        <div class="col-md-6">
                    

                                    <div class="product-page-single">
                                        <div class="single-product-item">
                                            <div class="product-image-wrap">

                                                <a href="#"><img src="./assets/images/thumb/kiranmural2.jpg" alt="Product image"></a>

                                                <div class="product-detail-inner">

                                                    <div class="item-details-overly-info">
                                                        <ul class="list-inline list-unstyled">
                                                            <li class="item-add-to-cart"><a href="#" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                            <li class="item-wishlist"><a href="#" title="Wish list"><i class="fa fa-heart-o"></i></a></li>
                                                           <!--  <li class="item-like"><a href="#" title="Like"><i class="fa fa-thumbs-o-up"></i></a></li> -->
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-item-details">
                                                <h2><a href="#">Beauty in the wall</a><br>Kiran</h2>
                                                <div class="price-like-box">
                                                    <div class="pull-left item-price">
                                                       <!--  <span class="old-price"><del>$50.00</del></span> -->
                                                        <span class="current-price">Rs.23,550.00</span>
                                                    </div>
                                                    <div class="pull-right item-rating">
                                                        <ul class="list-inline">
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star-o"></i></li>
                                                            <li><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            

                        </div> <!-- col close -->
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                                     <div class="product-page-single">
                                        <div class="single-product-item">
                                            <div class="product-image-wrap">
                                                <a href="#"><img src="./assets/images/thumb/kiranmural4.JPG" alt="Product image"></a>
                                                <div class="product-detail-inner">
                                                    <div class="item-details-overly-info">
                                                        <ul class="list-inline list-unstyled">
                                                            <li class="item-add-to-cart"><a href="#" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                            <li class="item-wishlist"><a href="#" title="Wish list"><i class="fa fa-heart-o"></i></a></li>
                                                           <!--  <li class="item-like"><a href="#" title="Like"><i class="fa fa-thumbs-o-up"></i></a></li> -->
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-item-details">
                                                <h2><a href="#">Filling Thought</a><br>Kiran </h2>
                                                 
                                                <div class="price-like-box">
                                                    <div class="pull-left item-price">
                                                        <!-- <span class="old-price"><del>$50.00</del></span> -->
                                                        <span class="current-price">Rs.54,000.00</span>
                                                    </div>
                                                    <div class="pull-right item-rating">
                                                        <ul class="list-inline">
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                     
                                                             <li><i class="fa fa-star"></i></li>
                                                             <li><i class="fa fa-star-o"></i></li>
                                                            <li><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                             
                 
                        </div> <!-- col close -->

                        <div class="col-md-6">
                                     <div class="product-page-single">
                                        <div class="single-product-item">
                                            <div class="product-image-wrap">
                                                <a href="#"><img src="images/thumb/kiranmural3.JPG" alt="Product image"></a>
                                                <div class="product-detail-inner">
                                                    <div class="item-details-overly-info">
                                                        <ul class="list-inline list-unstyled">
                                                            <li class="item-add-to-cart"><a href="#" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                            <li class="item-wishlist"><a href="#" title="Wish list"><i class="fa fa-heart-o"></i></a></li>
                                                           <!--  <li class="item-like"><a href="#" title="Like"><i class="fa fa-thumbs-o-up"></i></a></li> -->
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-item-details">
                                                <h2><a href="#">Concrete</a><br>Kiran </h2>
                                                 
                                                <div class="price-like-box">
                                                    <div class="pull-left item-price">
                                                        <!-- <span class="old-price"><del>$50.00</del></span> -->
                                                        <span class="current-price">Rs.63,000.00</span>
                                                    </div>
                                                    <div class="pull-right item-rating">
                                                        <ul class="list-inline">
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                             <li><i class="fa fa-star"></i></li>
                                                             
                                                            <!-- <li><i class="fa fa-star-o"></i></li> -->
                                                            <li><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- col close -->
                         </div>
                    </div> <!-- row close -->
                </div>
        </div> <!-- pannel close -->
            <!-- outside the box -->
        </div>
        <div class="col-md-3">
            <blockquote class="inner-block">
                <span class="fa fa-3x fa-quote-right"></span>
                    <p class="block-text">
                        “Though we say we are different, in many ways we are similar to animals. It is this similarity that makes all us humans the same. 
                    </p>
                    <hr>
                    <div>
                        <p class="pull-left">
                            Kiran 
                        </p>
                        <p class="pull-right">
                            <span class="badge">70</span><span class="fa fa-heart"></span>
                        </p>
                    </div>
            </blockquote>
            <hr >
            <div>
                <div class="panel-heading">
                    <strong> Words About Artist</strong>
                                                
                </div>
                <div>
                    <ul class="commentList">
                        <li>
                            <div class="commenterImage">
                                <img src="./assets/images/thumb/beeju.jpg" >
                            </div>
                            <div class="commentText">
                                <p class="">I was taken by when I saw his work at Babar Mahal Revisited</p> <span class="date sub-text"> March 5th, 2018</span>

                            </div>
                        </li>
                        <li>
                            <div class="commenterImage">
                                <img src="./assets/images/thumb/akhanda.jpg" />
                            </div>
                            <div class="commentText">
                                <p class="">  Kiran work is been presented in my walls.I love it :)</p> <span class="date sub-text">May 25th, 2018</span>

                            </div>
                        </li>
                        <li>
                            <div class="commenterImage">
                                <img src="./assets/images/thumb/devika.jpg" >
                            </div>
                            <div class="commentText">
                                <p class="">Kiran changed my city (Birjung) looks through Murals</p> <span class="date sub-text">July 5th, 2018</span>

                            </div>
                                            
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
        



</div>
</div>
<app-footer></app-footer>
