<div class="container target">
    <div class="row">
        <div class="col-md-2">
            <a href="#" class ="pull-left">
                <img title="profile image" class="img-circle img-responsive prodImage" [src]="imagePath">
            </a>

        </div>
        <div class="col-sm-10  pull-right">
                  <div class="headline">
                         <h2> <b>{{profilePageModel.fullName}}</b></h2>
                  </div>

        </div>

    </div>
    <br>

<div class="row">
     <div class="col-md-3">
            <!--left col-->
            <ul class="list-group">

                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Profile</strong></div>
                    
                    <li class="list-group-item text-right"><span class="pull-left"><strong class=""> Street Name </strong></span>{{profilePageModel.streetName}}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Expert</strong></span>{{profilePageModel.expert}}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Role: </strong></span>{{profilePageModel.role}}</li>
                </div>
            </ul>



            <div class="panel panel-default">

                <div class="panel-heading"><strong>Bio</strong></div>
                <div class="panel-body">
                        {{profilePageModel.bio}}
                </div> <!-- panel body close -->
            </div> <!-- panel bio  default above close -->
            <br>



            <div class="panel panel-default">
                <div class="panel-heading"><strong>Social Media</strong></div>
                <div class="panel-body "> 
                        <div>  <a href="www.facebook.com"><i class="fa fa-facebook fa-2x"></i>  
                                </a>
                   
                                <a href="https://maharjankiran.wordpress.com"><i class="fa fa-wordpress fa-2x"></i></a>

                                <a href="www.twitter.com"> <i class="fa fa-twitter fa-2x"></i></a>
                                
                                <a href="www.googleplus.com"><i class="fa fa-google-plus fa-2x"></i></a>
                        </div>

                </div>
            
            </div> <!-- <third social media panal close -->
        </div> <!-- <row side close -->
        <div class="col-md-9" contenteditable="false">
           
            <div class="panel panel-default target">

                <div class="panel-heading" contenteditable="false"><strong>More Arts</strong>
                </div>

                <div class="panel-body">
                  <div class="row">
                
                        <div class="col-md-6" *ngFor = "let product of products">
                                    <div class="product-page-single">
                                        <div class="single-product-item">
                                            <div class="product-image-wrap">
                                                <a><img class="prodImage" src="{{product.image}}" alt="Product image"></a>
                                                <div class="product-detail-inner">
                                                    <div class="item-details-overly-info">
                                                        <ul class="list-inline list-unstyled">
                                                            <li class="item-add-to-cart"><a  title="Add To Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                            <li class="item-wishlist"><a  title="Wish list"><i class="fa fa-heart-o"></i></a></li>
                                                          
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-item-details">
                                                <h2><a (click)="viewProductDetail($event)" id="{{product.id}}" style="cursor:pointer">{{product.Name}}</a><br>{{fullName}}</h2>
                                                 
                                                <div class="price-like-box">
                                                    <div class="pull-left item-price">
                                                        <span class="current-price">Rs.{{product.price}}</span>
                                                    </div>
                                                    <div class="pull-right item-rating">
                                                        <ul class="list-inline">
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                             <li><i class="fa fa-star"></i></li>
                                                            
                                                            <li><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   </div>
                        </div>     <!-- first col close -->
        
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
                          
                            <div class="image-upload-wrap">
                              <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
                              <div class="drag-text">
                                <h3>Drag and drop a file or select add Image</h3>
                              </div>
                            </div>
                            <div class="file-upload-content">
                              <img class="file-upload-image" src="#" alt="your image" />
                              <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                              </div>
                            </div>
                          </div>
                       
                    </div>

                </div>
                
        </div> <!-- pannel close -->
            <!-- outside the box -->
        </div>




</div>
</div>
<app-footer>
    
</app-footer>
