<div class="container target">
    <div class="row">
        <div class="col-md-2">
            <div class="single-product-item">
          <div class="product-image-wrap pull-left">
            <a><img title="Change Profile Picture" class="img-circle img-responsive prodImage" [src]="imagePath"  alt="Product image"></a>
            <div class="product-detail-inner">
                <div class="item-details-overly-info">
                    <ul class="list-inline list-unstyled" *ngIf="this.localStorage.getAuthData().userId==this.id">
                        <li title="Upload pic"><i class="fa fa-pencil"   (click) = open(content)></i></li>
                        <br>
                            <li title="Upload pic"><i class="fa fa-edit"   (click) = "editProfile()"></i></li>
                      
                    </ul>
                      
                
                </div>
            </div>
        </div>
           </div> 

        </div>
        <div class="col-sm-10  pull-right" >
                  <div class="headline" style="float:left">
                         <h2 style="text-align:left; margin-top:15%;"> <b>{{profilePageModel.fullName}}</b></h2>

                  </div>
                  
                  
        </div>


    </div>
   
<div class="row">
     <div class="col-md-3">
            <!--left col-->
            <ul class="list-group">

                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Profile</strong></div>
                    
                    <li class="list-group-item text-right"><span class="pull-left"><strong class=""> Street Name </strong></span>{{profilePageModel.streetName}}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Expert</strong></span>{{profilePageModel.expert}}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Role: </strong></span>{{profilePageModel.role}}</li>
                </div>
            </ul>



            <div class="panel panel-default">

                <div class="panel-heading"><strong>Bio</strong></div>
                <div class="panel-body">
                        {{profilePageModel.bio}}
                </div> <!-- panel body close -->
            </div> <!-- panel bio  default above close -->
            <br>



            <!-- <div class="panel panel-default">
                <div class="panel-heading"><strong>Social Media</strong></div>
                <div class="panel-body "> 
                        <div>  <a href="www.facebook.com"><i class="fa fa-facebook fa-2x"></i>  
                                </a>
                   
                                <a href="https://maharjankiran.wordpress.com"><i class="fa fa-wordpress fa-2x"></i></a>

                                <a href="www.twitter.com"> <i class="fa fa-twitter fa-2x"></i></a>
                                
                                <a href="www.googleplus.com"><i class="fa fa-google-plus fa-2x"></i></a>
                        </div>

                </div>
            
            </div> -->
             <!-- <third social media panal close -->
        </div> <!-- <row side close -->
        <div class="col-md-9" contenteditable="false">
           
            <div class="panel panel-default target">

                <div class="panel-heading" contenteditable="false"><strong>More Arts</strong>
                </div>

                <div class="panel-body">
                  <div class="row">
                
                        <div class="col-md-4" *ngFor = "let product of products" style="text-align: center">
                            <div class="square-card">
                                <a alt="square card" style="display: block;">
              
                                 <div class="product-page-single">
                                              <div class="single-product-item">
                                                  <div class="product-image-wrap">
                                                      <a><img class="prodImage" src="{{product.image}}" alt="Product image"></a>
                                                      <div class="product-detail-inner">
                                                          <div class="item-details-overly-info">
                                                              <ul class="list-inline list-unstyled">
                                                                  <li class="item-add-to-cart" *ngIf="this.localStorage.getAuthData().userId==this.id || this.localStorage.getAuthData().userType==='admin'"><a title="Delete Product"><i class="fa fa-trash"  id = "{{product.id}}" (click) = openConfirmation(contentDelete,$event)></i></a></li>
                                                                  <li class="item-wishlist" *ngIf="this.localStorage.getAuthData().userId==this.id"><a title="Edit Product" (click) = "updateAvailability($event)"><i id = "{{product.id}}" class="fa fa-edit"></i></a></li>
                                                                
                                                              </ul>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="product-item-details">
                                                      <h2><a (click)="viewProductDetail($event)" id="{{product.id}}" style="cursor:pointer">{{product.Name}}</a><br>{{fullName}}</h2>
                                                       
                                                      <div class="price-like-box">
                                                          <div class="pull-left item-price">
                                                              <span class="current-price">Rs.{{product.price}}</span>
                                                          </div>
                                                          <div class="row" style="padding-left:10%" >
                                                            <!-- <span class="fa fa-star checked"></span>
                                                           <span class="fa fa-star checked"></span>
                                                           <span class="fa fa-star checked"></span>
                                                           <span class="fa fa-star"></span>
                                                           <span class="fa fa-star"></span>  -->
                                                           <ngb-rating [(rate)] = "product.rating.average" [readonly]="true" *ngIf="product.rating.average"></ngb-rating>
                                                           <div *ngIf="product.rating.average ===undefined">
                                                             <br>
                                                           </div>
                                                           </div>
                                                      </div>
                                                  </div>
                                              </div>
                                         </div>
                                </a>
                                </div>
                        </div>     <!-- first col close -->
        
                        <div class="file-upload" *ngIf="this.localStorage.getAuthData().userId==this.id">
                            <button class="file-upload-btn" type="button" [routerLink]="['/upload-product']">Add Image</button>
                          
                            <div class="image-upload-wrap">
                              <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*"   />
                              <div class="drag-text">
                                <h3>Drag and drop a file or select add Image</h3>
                              </div> 
                            </div>
                            <div class="file-upload-content">
                              <img class="file-upload-image" src="#" alt="your image" />
                              <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                              </div>
                            </div>
                          </div>
                       
                    </div>

                </div>
                
        </div> <!-- pannel close -->
            <!-- outside the box -->
        </div>




</div>
</div>
<app-footer>
    
</app-footer>
<ng-template #content let-modal >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Select Profile Picture</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <span style="color:red;" *ngIf="message">{{message}}</span>
        <img [src]="imgURL" height="200" *ngIf="imgURL"> <br/>
        <input #file type='file' accept='image/*' (change)="onSelectFile(file.files)">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark"   (click)="updateProfilePic()">OK</button>
    </div>
  </ng-template>
  <ng-template #contentDelete let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Are you sure you want to delete the product?</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark"  (click)="deleteProduct()">Yes</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">No</button>
        </div>
    </ng-template>
