<div class="container helper">
  <div class="row" *ngIf="customArts && customArts.length > 0; else nocustomart">
    <div class="card card--big" *ngFor="let customArt of customArts">
      <img class="card__image" [src]="customArt.Image" alt="custom_art_image">

      <h2 class="card__title">Framing: {{ customArt.Framing }}</h2>
      <p class="card__text">Preferred Artist: {{ customArt.artist.fullName }}</p>
      <p class="card__text">Description: {{ customArt.description }}</p>

      <div class="card__action-bar">
        <button (click)="setCancelCustomArtId(customArt.id); open(content);" style="cursor: pointer" class="card__button"><Strong
            style="color:#d91e18">Cancel Order</Strong></button>
      </div>
    </div>
  </div>

</div>


<ng-template>
  <h2>No custom art ordered yet!</h2>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Are you sure?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(''); cancelOrder();">Cancel order</button>
  </div>
</ng-template>

<ng-template #success let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Success</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <h3>Order cancelled successfully</h3>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('');">OK</button>
  </div>
</ng-template>

