<div class="login-page">
  <div class="banner">Forget<strong> Password</strong></div>

    <div class="form">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">
              <input type="email" name="email" class="form-control" value="" formControlName="email" placeholder="Enter your email">
            </label>
          </div>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
           Email is required
          </div>

          
          <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" name="button" [disabled]="!resetPasswordForm.valid">Reset Password</button>
          
        </form>
    
      </div>

    
</div>



